.bg-body-tertiary {
  backdrop-filter: blur(30px);
  margin-top: 0px;
  background: transparent;
}

.nav-link {
  color: white !important;
  font-weight: 450;
}
.nav-link:hover {
  color: #000000 !important;
}
.loginBtns {
  background-color: #046702;
  border-width: 0px;
  color: white;
  font-weight: 400;
}
.loginBtns:hover {
  color: white;
  scale: 1.02;
}

